<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<div id="results">
    <div class="result-row">
        <div data-name="Bob">
            <a href="#">Bob</a>
        </div>
        <div data-occupation="Full Stack Developer">
            Full Stack Developer
        </div>
    </div>
    <div class="result-row">
        <div data-name="Nelly">
            <a href="#">Nelly</a>
        </div>
        <div data-occupation="User Experience">
            User Experience
        </div>
    </div>
    <div class="result-row">
        <div data-name="Beth">
            <a href="#">Beth</a>
        </div>
        <div data-occupation="Public Relations">
            Public Relations
        </div>
    </div>
</div>
<!--<div>-->
<!-- <button id="abc">A</button>-->
<!--<button>B</button>-->
<!--<button>C</button>-->
<!--</div>-->
<script>


// set our csv content var
let csvContent = "data:text/csv;charset=utf-8,";

// create csv header row items
let csvHeader = ['Name','Occupation'];

// add csv header row to csv content
csvContent += csvHeader.join(",") + "\r\n";

// for each result row
$('.result-row','#results').each(function() {

    // start new csv row array var
    let csvRow = [];

    // set our csv row data
    csvRow[0] = $('[data-name]',this).data('name');
    csvRow[1] = $('[data-occupation]',this).data('occupation').replace(/\s \s/g, '');

    // log results for debugging
    console.log(csvRow);

    // add csv row to csv content
    csvContent += csvRow.join(",") + "\r\n";

});

// log results for debugging
console.log(csvContent);

// encode the csv content
let encodedUri = encodeURI(csvContent);

<!--// open the csv file (this will be blocked here on stackoverflow)-->
<!--window.open(encodedUri);-->
myArray=[];
var obj="hi";
myArray.push(obj);
console.log(myArray);
</script>




<!--<script>-->


<!--function reinitialize(){-->
<!--  if(document.getElementById('abc').clicked == true)-->
<!--{-->
<!--   alert("button was clicked");-->
<!--}-->
<!--}-->
<!--reinitialize();-->
<!--</script>-->

</body>
</html>